.h5p-open-ended-question-question {
  background: #2880d0;
  font-size: 1.2em;
  padding: 0.75em;
  color: #fff;
}

.h5p-open-ended-question-content {
  position: relative;
  margin: 1em 0;
}

.h5p-open-ended-question-content:before {
  width: 0.75em;
  height: 0.75em;
  content: " ";
  position: absolute;
  top: -1.25em;
  left: 1em;
  background: white;
  transform: rotate(45deg);
}

.h5p-open-ended-question-input {
  margin: 0 0.5em;
  padding: 0.5em;
  width: calc(100% - 1em);
  max-width: 500px;
  box-sizing: border-box;
}
